<div class="p-2"></div>

<form id="myForm">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" class="form-control"
               data-val="true" 
               data-val-required="The Name field is required." 
               />
         <span data-valmsg-for="name" data-valmsg-replace="true"></span>
    </div>
    <button type="button" onclick="$('#myForm').validate()" class="btn btn-primary">Submit</button>
</form>


<div class="p-xl-5"></div>
<div class="row p-2">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>John</td>
          <td>Doe</td>
          <td>@social</td>
        </tr>
      </tbody>
    </table>
  </div>