<div class="p-2"></div>

      <form id="myForm" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>

          <!-- Input element -->
          <input type="text" class="form-control" id="username" name="username" data-val="true"
            data-val-required="This field is required.">

          <!-- Message Container: Must have matching data-valmsg-for target attribute -->
          <span class="field-validation-valid" data-valmsg-for="username" data-valmsg-replace="true"></span>
        </div>

        <div class="mb-3">
          <label for="company" class="form-label">Company</label>

          <!-- Input element -->
          <input type="text" class="form-control" id="company" name="company" data-val="true"
            data-val-required="This field is required.">

          <!-- Message Container: Must have matching data-valmsg-for target attribute -->
          <span class="field-validation-valid" data-valmsg-for="company" data-valmsg-replace="true"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

<div class="p-xl-5"></div>
<div class="row p-2">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>John</td>
          <td>Doe</td>
          <td>@social</td>
        </tr>
      </tbody>
    </table>
  </div>